$secondary-navigation-toolbar-bg-color: #fff;

.non-primary-layout-container {

    background: lighten($primary-50, 5%);

    md-sidenav {
        overflow: hidden;
        z-index: 100;
    }

    md-backdrop.md-sidenav-backdrop.md-opaque {
        background: transparent;
    }

    .non-primary-header-toolbar,
    .primary-vertical-navigation md-toolbar {
        height: $primary-layout-toolbar-height;

        .toolbar-separator {
            height: $primary-layout-toolbar-height;
            background: $primary-layout-toolbar-separator-bg-color;
            width: 1px;
        }

        .md-icon-button {
            height: $primary-layout-toolbar-height;
            width: $primary-layout-toolbar-height;
        }

        .vertical-navigation-lock-icon {

            .icon {
                transition: transform .3s linear;
            }

            .vertical-navigation-locked {
                transform: rotate(-180deg);
            }
        }

    }

    .non-primary-header-toolbar {
        md-menu-bar {
            padding: 0;

            md-menu.md-open > button {
                background-color: transparent;
            }
        }
    }

    .primary-vertical-navigation,
    .primary-vertical-navigation.md-locked-open-add-active,
    .primary-vertical-navigation.md-closed.md-locked-open-add-active,
    .primary-vertical-navigation.md-locked-open {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        background: $primary-hue-3;

        md-content {
            height: 90vh;
            background: $primary-hue-3;
        }
    }

    .primary-horizontal-navigation {
        height: 43px;
        max-height: 43px;
        min-height: 43px;
        border-top: 3px solid;
        background: $primary-default;
        border-color: $accent-default;
    }


    .non-primary-quick-panel  {

        md-tabs {
            md-ink-bar {
                background: $primary-default;
                color: $primary-default;
            }

            .md-ripple-container {
                color: $primary-default;
            }
        }

        .md-tab {
            text-transform: none;
            padding-right: 12px;
            padding-left: 12px;
            background: $accent-default;
            color: $font-color-light;
        }

        md-tab-content {
            padding: 10px;
        }
    }

    .non-secondary-main {
        background: lighten($primary-50, 5%);
    }

    .secondary-navigation-toolbar {
        background: $secondary-navigation-toolbar-bg-color;
        margin: 12px 8px 4px;

        .md-button.md-icon-button {
            height: 36px;
            padding: 6px;
        }
    }
}
