.non-secondary-layout-container {
    margin-bottom: 0;

    .vertical-menu {
        width: 230px;
        min-width: 230px;
        max-width: 230px;
        background: $card-bg;
        color: $accent-default;

        non-vertical-navigation-bar {
            margin: 0;
            padding: 0;

            .vertical-navigation-bar {
                background: transparent;
                color: $accent-default;

                .md-sidemenu .md-button:hover {
                    background: $primary-default;
                    color: $font-color-light;
                }

                .md-sidemenu .md-button.active {
                    background: $primary-hue-2;
                    color: $font-color-light;
                }
            }
        }
    }
}

.sidenav-secondary-navigation {
    top: 132px;
    width: 240px;
    min-width: 240px;
    left: calc(100% - 16px);
    background: $accent-default;

    non-vertical-navigation-bar {
        .vertical-navigation-bar {
            background: $accent-default;

            .md-sidemenu .md-button.active {
                background: $accent-hue-2;
            }
        }
    }
}
